<style>
.desc2 {
	float: right;
	margin-right: 2px;
}

.input {
	margin-bottom: 5px;
	width: 98%
}

.input-modal-md {
	margin-bottom: 5px;
	width: 100%
}

.input-small2 {
	margin-bottom: 5px;
	width: 90%
}

#page-wrapper {
	position: inherit;
	margin: 0 0 0 280px;
	padding: 0 30px;
	min-height: 1300px;
	border-left: 1px solid #e7e7e7;
}

.navbar-fixed-bottom {
	/*position: inherit !important;*/
	/*margin: 0 0 0 0px !important;*/
	padding: 0 0px !important;
	min-height: 130px !important;
	border-left: 1px solid #e7e7e7 !important;
}

.navbar-static-side {
	z-index: 1;
	position: absolute;
	width: 300px;
	height: 2350px;
	margin-top: 35px;
}

.URIerror {
	color: red;
}

.popover {
	max-width: 340px;
}

.help-button {
	display: inline-block;
	height: 22px;
	width: 22px;
	line-height: 22px;
	text-align: center;
	padding: 0;
	background-color: #65bcda;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	cursor: default;
	margin-left: 4px;
	border-radius: 100%;
	border-color: #FFF;
	border: 2px solid #FFF;
	-webkit-box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.2);
}

.ui-dialog {
	z-index: 10800 !important;
}

.navbar-fixed-top {
	height: 35px !important;
	min-height: 10px !important;
}

.nav.navbar-nav {
	height: 35px !important;
	min-height: 10px !important;
}

.panel-heading {
	height: 23px;
}

.panel-title {
	margin-top: -7px;
	color: #777 !important;
	font-size: 13px !important;
}

ul {
	margin-left: 3px;
	padding-left: 0;
}

ul ul {
	margin-left: 13px;
}

li {
	list-style: none;
}

.accordion-toggle {
	color: #777 !important;
	font-size: 13px !important;
	margin-top: 12px !important;
}

.panel .panel-default .ng-isolate-scope {
	max-height: 200px !important;
}

#list {
	max-height: 360px !important;
	overflow: auto !important;
}

.navbar-fixed-bottom {
	width: 300px;
}

.menu-top {
	z-index: 999999;
	height: 20px;
}
</style>